.preDefined_tag{
    display:flex;
    flex-direction: column;
    flex:1;
    max-width:522px;
    align-items: center;
    justify-content: space-between;
    height:100px;
}
.imagePreTag{
    margin: auto;
    display: flex;
    
    align-items: center;
    justify-content: space-around; 
}

.image{
    width:65px

}
.inputText{
    height:30px;
    width:100%;
}
